<nav class="navbar bg-light shadow p-0 titlebar">
    <div class="container-fluid p-0">
        <div class="row container-fluid p-0 m-0">
            <div class="col-11 p-0 m-0 drag">
                <a class="navbar-brand m-0 p-0 ps-2">Mobile Phone</a>
            </div>
            <div class="col-1 d-flex flex-row-reverse p-0 m-0">
                <button class="frameBtn redBtn py-1 px-2 m-0 text-dark" onclick="closeApp()"><i class="bi bi-x m-0 p-0"></i></button>
                <button class="frameBtn grayBtn py-1 px-2 m-0 text-dark" onclick="minimizeApp()"><i class="bi bi-dash"></i></button>
            </div>
        </div>
    </div>
</nav>