<section class="side-menu" id="side-menu" onclick="closeSideMenu()" style="position: absolute; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.4); z-index: 998; visibility: hidden;">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-light" style="width: 280px; height: 100%; z-index: 999;">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
            <span class="fs-4">Меню</span>
        </a>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item text-light">
                <a href="#" class="nav-link link-light" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Мегамаркет
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-light">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Корзина
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-light">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Заказы
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-light">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Products
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-light">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Customers
                </a>
            </li>
        </ul>
    </div>
</section>
